container_commands:
    00-create-env:
        command: "cp .env.staging .env && php artisan key:generate"
    01-migration:
        command: "php artisan migrate > ./storage/logs/01-migration.log"
        leader_only: true
    02-storage-link:
        command: |
            cd public && \
            ln -s ../storage/app/public storage && \
            ln -s ../storage/assets assets
